src/edu/ucsb/cs56/w15/drawings/nikolas_chaconas/simple/*~ # emacs back up files
src/edu/ucsb/cs56/w15/drawings/nikolas_chaconas/advanced/*~
*~
*.class

javadoc/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
